name: Liberig

on: [push]

jobs:
  publish:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        app: [komp]
        include:
          - os: ubuntu-latest
            os_name: ubuntu
            original_extension: "app"
            result_extension: ""

          - os: windows-latest
            os_name: windows
            original_extension: "exe"
            result_extension: ".exe"

          - os: macos-latest
            os_name: macos
            original_extension: "app"
            result_extension: ""

    steps:
      - name: Instali dependencoj
        run: choco install --verbose mingw make winflexbison3
        if: startsWith(matrix.os, 'windows')

      - uses: actions/checkout@v2
      - name: Konstrui
        run: make ${{ matrix.app }}.app

      - name: Kuri testojn
        run: make test-${{ matrix.app }}

      - name: Akiri version
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        id: get_version
        uses: battila7/get-version-action@v2

      - name: Akiri anstataŭigitan version
        id: get_replaced_version
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        uses: frabert/replace-string-action@v2.0
        with:
          pattern: '\.'
          string: ${{ steps.get_version.outputs.version-without-v }}
          replace-with: "_"
          flags: "g"

      - name: Alŝuti binaron por liberigi
        uses: svenstaro/upload-release-action@v2
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ matrix.app }}.${{ matrix.original_extension }}
          asset_name: ${{ matrix.app }}-${{ matrix.os_name }}-${{ steps.get_replaced_version.outputs.replaced }}${{ matrix.result_extension }}
          tag: ${{ github.ref }}

      - name: Alŝuti ŝtatan eligon por liberigi
        uses: svenstaro/upload-release-action@v2
        if: ${{ startsWith(github.ref, 'refs/tags/v') && startsWith(matrix.os, 'ubuntu') }}
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ matrix.app }}.output
          asset_name: ${{ matrix.app }}-${{ steps.get_replaced_version.outputs.replaced }}.output
          tag: ${{ github.ref }}